@keyframes box {
  0% {
    box-shadow: none;
    transform: rotate(0);
  }
  100% {
    box-shadow: 0 0 45px 5px #1c1c1c;
    transform: rotate(-45deg);
  }
}
@keyframes box-text {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes one {
  0% {
    left: 2000px;
    top: 2000px;
  }
  100% {
    left: 0;
    top: 0;
  }
}
@keyframes two {
  0% {
    left: -2000px;
    top: 2000px;
  }
  100% {
    left: 0;
    top: 0;
  }
}
@keyframes three {
  0% {
    left: 2000px;
    top: -2000px;
  }
  100% {
    left: 0;
    top: 0;
  }
}
@keyframes four {
  0% {
    left: -2000px;
    top: -2000px;
  }
  100% {
    left: 0;
    top: 0;
  }
}
@keyframes expand-one {
  0% {
    z-index: 7;
  }
  100% {
    z-index: 7;
  }
}
* {
  margin: 0;
  padding: 0;
}
*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

body {
  color: #ccc;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", sans-serif;
}

.content h3 {
  font-size: 34px;
  border-bottom: 4px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
.content p {
  font-size: 22px;
  margin-bottom: 20px;
}
.content p:last-of-type {
  padding-bottom: 25px;
  border-bottom: 4px solid #ccc;
}

.box .box-container > * {
  background: -webkit-radial-gradient(100% 100%, #1c1c1c, #000);
  border-left: 5px solid #424242;
  border-top: 5px solid #363636;
  border-bottom: 5px solid #292929;
  border-right: 5px solid #1c1c1c;
}

.small-box:hover .label {
  opacity: 1 !important;
}
.small-box .label {
  color: #363636;
  text-shadow: 0 0 5px #000;
  font-size: 30px;
  opacity: 0;
  transition: opacity .5s;
  animation: box-text 4.5s ease;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .small-box .label {
    opacity: 1;
    font-size: 20px;
  }
}

.one {
  animation: one 3s ease-in-out forwards;
}

.two {
  animation: two 3s ease-in-out forwards;
}

.three {
  animation: three 3s ease-in-out forwards;
}

.four {
  animation: four 3s ease-in-out forwards;
}

footer span {
  font-size: 40px;
}

@keyframes animation-station {
  0% {
    color: #1c1c1c;
  }
  3.33333% {
    color: #373737;
  }
  6.66667% {
    color: #131313;
  }
  10% {
    color: #1f1f1f;
  }
  13.33333% {
    color: #2c2c2c;
  }
  16.66667% {
    color: #090909;
  }
  20% {
    color: #484848;
  }
  23.33333% {
    color: #0a0a0a;
  }
  26.66667% {
    color: #444444;
  }
  30% {
    color: #2b2b2b;
  }
  33.33333% {
    color: #333333;
  }
  36.66667% {
    color: #242424;
  }
  40% {
    color: #272727;
  }
  43.33333% {
    color: #252525;
  }
  46.66667% {
    color: #171717;
  }
  50% {
    color: #474747;
  }
  53.33333% {
    color: #414141;
  }
  56.66667% {
    color: #2a2a2a;
  }
  60% {
    color: #303030;
  }
  63.33333% {
    color: #222222;
  }
  66.66667% {
    color: #010101;
  }
  70% {
    color: #1c1c1c;
  }
  73.33333% {
    color: #070707;
  }
  76.66667% {
    color: #2a2a2a;
  }
  80% {
    color: #121212;
  }
  83.33333% {
    color: #3b3b3b;
  }
  86.66667% {
    color: #212121;
  }
  90% {
    color: #2d2d2d;
  }
  93.33333% {
    color: #3a3a3a;
  }
  96.66667% {
    color: #363636;
  }
  100% {
    color: #454545;
  }
}
.animation-class {
  animation-name: animation-station;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: forwards;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
.social-icons .facebook {
  height: 24px;
  width: 24px;
  background-image: url("../img/facebook-grey.png");
  background-size: 24px 24px;
  background-position: center;
  cursor: pointer;
}
.social-icons .facebook:hover {
  background-image: url("../img/facebook.png");
}
.social-icons .twitter {
  height: 24px;
  width: 24px;
  background-image: url("../img/twitter-grey.png");
  background-size: 24px 24px;
  background-position: center;
  cursor: pointer;
}
.social-icons .twitter:hover {
  background-image: url("../img/twitter.png");
}
.social-icons .github {
  height: 24px;
  width: 24px;
  background-image: url("../img/github-grey.png");
  background-size: 24px 24px;
  background-position: center;
  cursor: pointer;
}
.social-icons .github:hover {
  background-image: url("../img/github.png");
}

.container {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.container .box {
  height: 500px;
  width: 500px;
  animation: box .5s ease forwards 3s;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .container .box {
    height: 425px;
    width: 425px;
  }
}
@media screen and (max-width: 600px) {
  .container .box {
    height: 250px;
    width: 250px;
  }
}
.container .box .box-container {
  height: 49.5%;
  width: 49.5%;
  position: relative;
}
.container .box .box-container:nth-child(1) {
  margin: 0 .5% .5% 0;
}
.container .box .box-container:nth-child(2) {
  margin: 0 0 .5% .5%;
}
.container .box .box-container:nth-child(3) {
  margin: .5% .5% 0 0;
}
.container .box .box-container:nth-child(4) {
  margin: .5% 0 0 .5%;
}
.container .box .box-container > * {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
}
.container .box .box-container h2 {
  margin: auto;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: -1;
}

.small-box {
  position: relative;
}
.small-box .close {
  position: absolute;
  right: 10px;
  top: 10px;
  background-image: url("../img/close-grey.png");
  background-size: 32px 32px;
  background-position: center;
  height: 32px;
  width: 32px;
  cursor: pointer;
  z-index: 5;
  display: none;
}
.small-box .close:hover {
  background-image: url("../img/close.png");
}
.small-box .content {
  display: none;
  height: 99%;
  width: 99%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  z-index: 3;
  background: black;
}
.small-box .content .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.small-box .content span {
  font-size: 40px;
}

.content.contact {
  height: 100%;
  width: 100%;
}
.content.contact h2 {
  position: absolute;
  right: -30px;
  bottom: 70px;
  transform: rotate(-90deg);
}
.content.contact .social-icons.side {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100px;
  right: 20px;
  bottom: 170px;
}
.content.contact .column-container {
  height: 100%;
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: scroll;
}
.content.contact .column-container::after {
  clear: both;
  content: "";
  display: block;
}
.content.contact .column-container .col-1 {
  width: calc(66.66667% - 33.33333px);
  float: left;
  margin-left: 20px;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .content.contact .column-container .col-1 {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
    height: auto;
  }
}
.content.contact .column-container .col-2 {
  width: calc(33.33333% - 26.66667px);
  float: left;
  margin-left: 20px;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .content.contact .column-container .col-2 {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
    height: auto;
  }
}
.content.contact .column-container .col-2 img {
  width: 100%;
}

body {
  background: black;
}

/*# sourceMappingURL=styles.css.map */
