.content {
  @include size(100%);

  .side-label {
    position: absolute;
    bottom: 240px;
    right: -240px;
    width: 500px;
    height: 60px;
    transform: rotate(-90deg);
  }

  h2 {
    white-space: nowrap;
    display: inline-block;
  }

  .social-icons.side {
    margin-left: 20px;
    display: inline-block;
    width: 170px;
    height: 24px;

    & > * {
      display: inline-block;
      margin-right: 10px;
      transform: rotate(90deg);
    }
  }

  .column-container {
    @include grid-container();
    @include size(90%, 100%);
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: scroll;

    .col-1 {
      @include grid-column(8);
      height: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include sm-bp {
        @include grid-column(12);
        height: auto;
      }
    }

    .col-2 {
      @include grid-column(4);
      height: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;


      @include sm-bp {
        @include grid-column(12);
        height: auto;
      }

      img {
        width: 100%;
      }
    }
  }
}
