body {
  color: $white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headings;
}


.content {
  h3 {
    font-size: 34px;
    border-bottom: 4px solid $white;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }

  p {
    font-size: 22px;
    margin-bottom: 20px;
  }
  p:last-of-type {
    padding-bottom: 25px;
    border-bottom: 4px solid $white;
  }

  ul {
    font-size: 20px;

    @include sm-bp {
      margin-bottom: 30px;
    }

    .list-heading {
      border-bottom: 2px solid $white;
      padding-bottom: 5px;
      margin-bottom: 10px;
    }

    li {
      margin-bottom: 5px;
    }
  }
}
